
*{
    margin: 0;
}

.contInput{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.containerLabel{
    z-index: 2;
    padding: 0 6px;
}

.inputContainer{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.rexPlaceholder{
    position: absolute;
    opacity: 0.5;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}